!!!
%html
  %head
    %title My Rails Application
    = vite_client_tag
    = vite_javascript_tag 'application'
    = stylesheet_link_tag '/css/global.css'
    = csrf_meta_tags
  %body
    #root
      = yield